ECHOAI_WEB_APP_URL=http://localhost:3000
ECHOAI_WEB_ALLOW_MOCKS=true
ECHOAI_WEB_AUTH_SECRET=replace-in-private-deploy
ECHOAI_WEB_DATABASE_URL=postgres://echoai:echoai@localhost:5432/echoai_web
ECHOAI_WEB_ENCRYPTION_KEY=replace-with-32-byte-key
ECHOAI_WEB_PROVIDER_VAULT_KEY=replace-with-kms-key
ECHOAI_WEB_STRIPE_SECRET=sk_test_replace
ECHOAI_WEB_DATA_DIR=.echoai-web-data
ECHOAI_WEB_WORKOS_CLIENT_ID=client_replace
ECHOAI_WEB_WORKOS_API_KEY=sk_workos_replace
ECHOAI_WEB_OBJECT_STORAGE_PROVIDER=r2
ECHOAI_WEB_R2_ACCOUNT_ID=replace
ECHOAI_WEB_R2_BUCKET=echoai-web
ECHOAI_WEB_R2_ACCESS_KEY_ID=replace
ECHOAI_WEB_R2_SECRET_ACCESS_KEY=replace
ECHOAI_WEB_DAYTONA_API_KEY=replace
ECHOAI_WEB_COMPOSIO_API_KEY=replace
ECHOAI_WEB_AI_GATEWAY_KEY=replace
